<%- include("templates/header") %>

<div class="flex items-center justify-center m-3 mt-10" id="mapContainer">
    <!--The div element for the map -->
    <div id="map" class="w-full h-full"></div>
</div>

<script>
    // Adjust the height of the map container
    const headerHeight = document.querySelector('header').offsetHeight;
    const mapContainer = document.getElementById('mapContainer');
    mapContainer.style.height = `calc(94vh - ${headerHeight}px)`;

    // Initialize and add the map
    function initMap() {
        // location of bcit (default location)
        const bcit = { lat: 49.283, lng: -123.115 };
        // The map, centered at bcit
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: bcit,
        });
        // The marker, positioned at bcit
        const marker = new google.maps.Marker({
            position: bcit,
            map: map,
        });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6tt10OSdXLxpCz5hTuKB_gO36EyHt4cE&callback=initMap">
</script>

</body>

</html>