<%- include("templates/header") %>

    <div class="flex items-center justify-center m-3 mt-10" id="mapContainer">
        <div id="map" class="w-full h-full"></div>
    </div>

    <script>
        const criminals = [
            { name: "John Doe", offenses: "5", details: "Detail Here", DOB: "2010-12-31", address: "626 W Pender St #100, Vancouver, BC V6B 1V9", description: "Description Here", crimes: ["Theft", "Robbery"] },
            { name: "ABC", offenses: "2", details: "Detail Here", DOB: "1991-01-12", address: "550 W Hastings St, Vancouver, BC V6B 1L6", description: "Description Here", crimes: ["Theft", "Robbery"] },
            { name: "AAA", offenses: "5", details: "Detail Here", DOB: "1965-10-20", address: "678 Dunsmuir St, Vancouver, BC V6B 1N3", description: "Description Here", crimes: ["Theft", "Robbery"] }
        ];
        // Define map height/size
        const headerHeight = document.querySelector('header').offsetHeight;
        const mapContainer = document.getElementById('mapContainer');
        mapContainer.style.height = `calc(94vh - ${headerHeight}px)`;

        // Add an info bubble
        function addInfoBubble(map, marker, content) {
            const infoWindow = new google.maps.InfoWindow({
                content: content
            });

            marker.addListener('click', () => {
                infoWindow.open(map, marker);
            });
        }

        // Initialize map
        function initMap() {
            // location of bcit (default location)
            const bcit = { lat: 49.283, lng: -123.115 };
            // Map is centered at BCIT with zoom level 17 (higher->closer)
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: bcit,
            });
            // bcit(current location) marker
            const marker = new google.maps.Marker({
                position: bcit,
                map: map,
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' // Blue marker(can change)
            });

            // Info bubble tells user that this is their current location
            // addInfoBubble(map, marker, "Your current location")

            const geocoder = new google.maps.Geocoder();
            // Create a single InfoWindow instance
            const infoWindow = new google.maps.InfoWindow();

            // Add red marker for each criminal location
            criminals.forEach(criminal => {
                geocoder.geocode({ address: criminal.address }, (results, status) => {
                    if (status === 'OK') {
                        const criminalMarker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location,
                            title: criminal.name,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' // Red marker
                        });

                        // Define the content for the InfoWindow
                        const infoWindowContent = `
                    <div style="font-size: 16px;">
                        <h2 style="font-weight: bold;">${criminal.name}</h2>
                        <p>${criminal.address}</p>
                        <a style="font-size: 12px; color: grey;" href="/criminal/${criminal.id}">Details</a>
                    </div>
                `;

                        // Add a click listener to the marker
                        criminalMarker.addListener('click', () => {
                            // Set the content and open the InfoWindow
                            infoWindow.setContent(infoWindowContent);
                            infoWindow.open(map, criminalMarker);
                        });
                    }
                });
            });
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6tt10OSdXLxpCz5hTuKB_gO36EyHt4cE&callback=initMap">
        </script>

    </body>

    </html>