<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-[#515F84] text-white">
        <header class="text-6xl text-center m-10">Profile</header>

        <form
            action=""
            class="w-[70%] mx-auto bg-[#EAD797] flex flex-col justify-center p-10 text-[#515F84] rounded-xl gap-4">
            <div>
                <label for="username" class="text-xl">Username</label>
                <input
                    type="text"
                    name="username"
                    value="<%= user.username %>"
                    class="block w-full rounded-md border-0 py-1.5 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    disabled />
            </div>
            <div>
                <label for="email" class="text-xl">Email</label>
                <input
                    type="text"
                    name="email"
                    value="<%= user.email %>"
                    class="block w-full rounded-md border-0 py-1.5 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    disabled />
            </div>
            <div>
                <label for="location" class="text-xl">Default Location</label>
                <input
                    type="text"
                    name="location"
                    value="<%= user.defaultLocation %>"
                    class="block w-full rounded-md border-0 py-1.5 px-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    disabled />
            </div>
        </form>
    </body>
</html>
