<div id="filter-form" class="modal hidden">
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold">Filter Options</h3>
        <button onclick="closeFilters()" class="font-bold">X</button>
    </div>
    <form id="filters">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Name includes:</label>
            <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
        <div class="mb-4">
            <label for="crime" class="block text-sm font-medium text-gray-700">Crime:</label>
            <input type="text" id="crime" name="crime" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
        <div class="mb-4">
            <label for="sentence-min" class="block text-sm font-medium text-gray-700">Sentence Min (years):</label>
            <input type="number" id="sentence-min" name="sentence-min" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <label for="sentence-max" class="block text-sm font-medium text-gray-700 mt-2">Sentence Max (years):</label>
            <input type="number" id="sentence-max" name="sentence-max" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
        <button type="button" onclick="applyFilters()" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-green-700">Apply Filters</button>
    </form>
</div>
